.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}

.headerLogo {
    width: 100%;
    padding: 20px;
}

.nav {
    font-size: 24px;
}

.navLink {
    text-decoration: none;
    margin: 5px;
    position: relative;
}

.navLink::before {
    content: "";
    position: absolute;
    background: #FF6060;
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scale(0);
    transition: transform 0.4s;
}

.navLink:hover::before {
    transform-origin: 0 0;
    transform: scale(1);
}

@media (max-width: 768px) {
    .headerLogo {
        width: 75%;
    }

    .nav {
        font-size: 12px;
    }
}