/* Desktop >1600px-1350px */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerLogo {
    width: 100%;
    padding: 20px;
}

nav {
    font-size: 24px;
}

.navLink {
    color: #FF6060;
    text-decoration: none;
    padding: 5px;
}

.navLink:hover {
    text-decoration: underline;
}

/* Mobile <768px */
@media (max-width: 768px) {
    #headerLogo {
        width: 75%;
    }

    nav {
        font-size: 12px;
    }
}