main {
    background-color: white;
    padding: 0 6%;
}

#bannerHome {
    display: flex;
    background: rgb(0, 0, 0);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 25px;
    opacity: 0.8;
}

#titleBanner {
    position: absolute;
    font-size: 48px;
    font-weight: 500;
    line-height: 142.6%;
    color: #FFFFFF;
}

.greySquare {
    background: #F7F7F7;
    border-radius: 25px;
    margin: 40px 0;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: space-around;
}