/* Desktop >1600px-1350px */
.troisColonnes {
    background: #F7F7F7;
    border-radius: 25px;
    display: grid;
    align-items: center;
    grid-auto-rows: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
    margin: 40px 0;
}

/* Tablette XL/Desktop XS 1350px-991px */
@media (max-width: 1150px) {
    .troisColonnes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

/* Mobile <768px */
@media (max-width: 768px) {
    .troisColonnes {
        display: grid;
        grid-template-columns: 1fr;
        background: none;
        grid-auto-rows: 290px;
        margin: 20px 0;
    }
}