.ficheLogement {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.galerieLogement {
    display: flex;
    justify-content: center;
}

.qqocpLogement {
    display: flex;
    flex-direction: column;
}

.titreUser {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titreLogement {
    font-size: 36px;
    display: flex;
    align-items: flex-end;
}

.locationLogement {
    font-size: 18px;
    display: flex;
    align-items: flex-end;
}

.userLogement {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.tagsLogement {
    font-size: 14px;
    display: flex;
}

.tagsVotes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.votesLogement {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: #FF6060;
}

.infosLogement {
    margin: 25px 0 50px;
}