.ficheLogement {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.galerie {
    display: flex;
    justify-content: center;
}

.qqocp {
    display: flex;
    flex-direction: column;
}

.titreLogement {
    font-size: 36px;
    display: flex;
    align-items: flex-end;
}

.locationLogement {
    font-size: 18px;
    display: flex;
    align-items: flex-end;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.votes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: #FF6060;
}

.infosLogement {}