#bannerAbout {
    display: flex;
    background: rgba(0, 0, 0, .8);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.infos {
    margin: 1% 5% 1%;
}

.titleCollapse {
    color: white;
}

.infosApropos {
    margin: 0 10% 10% 10%;
}