#bannerAbout {
    display: flex;
    background: rgba(0, 0, 0, .8);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
}

.infosApropos {
    display: flex;
    flex-direction: column;
    margin: 3% 15%;
    gap: 20px;
}