.navLink {
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    /* font-size: 24px; */
    width: 250px;
    height: 34px;
}

nav :hover {
    text-decoration: underline;
}