.barreAffichage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 13px 20px 13px 18px;
    background: #FF6060;
    color: white;
    border-radius: 10px;
    width: 100%;
    margin: 20px 0;
}

.titreCollapse {
    text-align: left;
    color: white;
    display: flex;
    align-items: flex-start;
    padding-left: 18px;
    line-height: 26px;
}


.vector {
    width: 30px;
    transform: rotate(0deg);
    transition: 0.4s 0.4s ease-in-out;
}

.rotation {
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}

.animated {
    opacity: 1;
    transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out;
}

.contentCollapse {
    display: flex;
    height: auto;
}

.contentTextCollapse {
    background-color: #F7F7F7;
    border-radius: 10px;
    width: inherit;
    overflow: auto;
}

.textCollapse {
    color: #FF6060;
    font-size: 12px;
    line-height: 142.6%;
    display: flex;
    padding: 20px;
}