/* Desktop max:1600px */
* {
    max-width: 1600px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 142.6%;
    color: #FF6060;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: blue; */
}

header {}

.App {
    text-align: center;
    margin: 20px;
}

/* Desktop >1600px-1350px */
/* * {
    max-width: 1600px
} */

/* Tablette XL/Desktop XS 1350px-991px */
@media (max-width: 1350px) {}

/* Tablette 992px-767px */
@media (max-width: 992px) {}

/* Mobile <768px */
@media (max-width: 768px) {}