footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 40px 0px 5px;
}

#footer-logo {
    width: 100%;
}

p {
    color: white;
}

/* Mobile <768px */
@media (max-width: 768px) {
    #footer-logo {
        width: 75%;
    }

    p {
        font-size: 12px;
    }
}